/* General Styles */
.mech-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f8ff;
    height: 100vh; /* Full viewport height */
}

/* Header Styles */
.mech-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2b4e93;
    padding: 10px;
}

.mech-profile-btn,
.mech-clock-btn,
.mech-logout-btn {
    background-color: #5372f0;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
}

.mech-clock-btn {
    background-color: #4caf50;
}

.mech-logout-btn {
    background-color: #ff4444;
}

/* Task Section Container */
.mech-task-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    gap: 20px;
    padding: 20px;
}

/* Individual Task Cards */
.mech-task-section > div {
    background-color: #f8f9fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mech-assigned-tasks,
.mech-resources,
.mech-upcoming-tasks,
.mech-current-task {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mech-task-section h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mech-task-section p {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
}

/* Input Styles */
.mech-select {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.mech-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
}

.mech-button:hover {
    opacity: 0.9;
}

/* Button Row for Start and End Time */
.mech-button-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

/* Footer Styles */
.mech-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d3b5e;
    color: white;
    padding: 15px 20px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.mech-footer p {
    margin: 0;
    font-size: 14px;
}

.mech-footer-logo img {
    width: 50px;
    height: auto;
}
