/* Full-width container setup */
.overview-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
    background-color: #E5F4FA;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Header banner */
.overview-header {
    width: 100%;
    background-color: #003366;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 20px;
    box-sizing: border-box;
    height: 60px;
}

.overview-menu-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
}

.overview-banner-title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
}

/* Points Balance and Offers Section */
.overview-offers-balance {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    width: 1000px;
    padding: 20px;
    margin: 40px auto 0 auto;
    gap: 20px;
}

.overview-points-balance-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 4vw;
    min-height: 175px;
    max-width: 250px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #0056a3;
}

.overview-points-balance-box h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
}

.overview-points-balance-box p {
    font-size: 1.6em;
}

/* Offers styling */
.overview-offers {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.overview-offers h2 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.overview-offers-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}

.overview-offers-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.overview-offers-list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.overview-offer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #003366;
    background-color: #ffffff;
}

.overview-offer-description {
    flex: 1;
    font-weight: bold;
    color: #003366;
}

.overview-offer-code {
    flex: 1;
    font-size: 1em;
    text-align: center;
    color: #000000;
}

.overview-copy-button {
    display: flex;
    flex-shrink: 0;
    border: none;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    background-color: #d4edda;
    color: #155724;
    transition: background-color 0.3s;
}

.overview-copy-button:hover {
    background-color: #c3e6cb;
}

.overview-copy-button.copied {
    background-color: #c3e6cb;
    color: #155724;
}

/* Rewards Section */
.overview-rewards {
    padding: 1.5rem;
    color: black;
    text-align: center;
    border-top: 2px solid #003366;
    background-color: #d9e8f5;
}

.overview-reward-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    column-gap: 5.5rem;
    row-gap: 2rem;
    justify-items: center;
    margin: 1rem auto;
}

.overview-reward-card {
    color: black;
    padding: 1rem;
    width: 275px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.overview-reward-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overview-reward-image {
    max-width: 80%;
    margin-bottom: 10px;
}

.overview-redeem-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #0056a3;
}

.overview-redeemed {
    opacity: 0.6;
    pointer-events: none;
}

/* History Section */
.overview-history {
    padding: 20px;
    border-top: 2px solid #003366;
    text-align: center;
    font-size: 1.5em;
    color: #000000;
}

.overview-history-entry {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 25%;
    gap: 10px;
    color: #000000;
}

.overview-history-title, .overview-history-points, .overview-history-date {
    white-space: nowrap;
    padding: 5px 10px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .overview-history-entry {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Footer Styling */
.overview-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-sizing: border-box;
    background-color: #003366;
}

.overview-footer-description {
    font-size: 1rem;
}

.overview-footer-logo {
    width: 60px;
    height: auto;
}
